header {
  background-color: $bg-a;
  nav a {
    margin-top: 2px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    .navElements {
      text-decoration: none;
      color: $a-link;
      font-weight: bold;
      padding-inline: 1rem;
    }
  }
}
